<div class="container-fluid h-75 py-5" [ngStyle]="{'background-color': backgroundColor}">
  <div class="row justify-content-center h-100">
    <div class="d-flex flex-column h-100">
      <div *ngFor="let item of switches; index as i; trackBy:identify" class="col d-sm-flex flex-column">
        <div class="row justify-content-center flex-grow-1">
          <mat-slide-toggle aria-label="switch" checked={{item}} id={{i}} (change)="onChange($event,i)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
